.button {
  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background: none;

  .st0 {
    transition: fill $fast;
  }

  &--blue {
    .st0 {
      fill: $light-blue;
    }

    &:hover,
    &:focus {
      .st0 {
        fill: lighten($light-blue, 10);
      }
    }
  }

  &--white {
    .st0 {
      fill: $white;
    }

    &:hover,
    &:focus {
      .st0 {
        fill: lighten($light-blue, 20);
      }
    }
  }

  &--violet {
    .st0 {
      fill: $light-violet;
    }

    &:hover,
    &:focus,
    &.button--active {
      .st0 {
        fill: lighten($light-violet, 20);
      }
    }
  }
}
