.progress-bar {
  display: flex;
  flex-direction: row;

  padding-right: $padding-sm;
  padding-left: $padding-sm;

  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 426px) {
    padding-right: $padding-lg;
    padding-left: $padding-lg;
  }

  &__time {
    color: $light-gray;

    font-size: 1.125rem;
  }

  &__body {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 0 20px;

    align-items: center;
  }

  &__progress {
    position: absolute;
    left: 0;

    width: 43%;
    height: 5px;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $light-green;
  }

  &__line {
    width: 100%;
    height: 1px;

    background-color: $light-green;
  }

  &__point {
    position: absolute;
    right: 0;

    width: 5px;
    height: 5px;

    border-radius: 50%;
    background-color: $light-green;
  }
}
