.track-info {
  display: flex;
  flex-direction: column;

  padding-right: $padding-sm;
  padding-bottom: 1.5rem;
  padding-left: $padding-sm;

  white-space: nowrap;

  @include size(medium) {
    padding-right: $padding-lg;
    padding-left: $padding-lg;
  }

  @include size(large) {
    padding-bottom: 2rem;
  }

  &__title,
  &__artist {
    overflow: hidden;

    width: 100%;

    text-align: center;
    text-overflow: ellipsis;
  }

  &__title {
    margin-bottom: 0.4rem;

    color: $white;

    font-size: 1.5rem;
    font-weight: bold;

    @include size(medium) {
      font-size: 2.25rem;
    }
  }

  &__artist {
    text-transform: uppercase;

    color: $light-violet;

    font-size: 0.75rem;

    @include size(medium) {
      font-size: 1.125rem;
    }
  }
}
