// COLORS
$white: #fff;
$light-gray: #9a9b9b;
$dark-gray: #1a1a1a;
$light-violet: #6f729c;
$dark-violet: #1f1837;
$light-blue: #755dd5;
$light-green: #00c9b7;

// TIME
$fast: 0.2s;

// DIMENSIONS
$padding-sm: 2rem;
$padding-lg: 4rem;
$waveform-height: 60px;
$footer-height: 90px;

// BREAKPOINTS
$breakpoint-medium: 426px;
$breakpoint-large: 540px;
