// COLORS
$white: #fff;
$dark-gray: #1a1a1a;
$light-violet: #6f729c;
$dark-violet: #1f1837;
$light-blue: #755dd5;

// TIME
$fast: 0.2s;

// DIMENSIONS
$padding-sm: 2rem;
$padding-lg: 4rem;
$footer-height: 90px;
